*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 320px;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    background: $color-white;
}

.pageWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    text-decoration: none;
    line-height: normal;
    outline: none;
    user-select: none;
}

.btn-default {
    //@include btn-default;
}

.btn-default.blue {
    //@include btn-default-blue;
}

.btn-small {
    //@include btn-small;
}
