mixin gallery(data)
    - var galleryData = data ? data : {};

    - galleryData.list = galleryData.list ? galleryData.list : [];

    +b('section').gallery
        +e('div').wrapper
            +e('div').content
                +e('ul').list
                    each item in galleryData.list
                        +e('li').item
                            +e('a').link(href="/images/" + item.source, title= item.title, data-title= item.title, data-description= item.description)
                                +e('picture').picture
                                    +e('img').img(src="/images/" + item.preview, alt= item.title)

                                +e('div').title!= item.title
