mixin gallery(data)
    - var galleryData = data ? data : {};

    - galleryData.list = galleryData.list ? galleryData.list : [];

    +b('section').gallery
        +e('div').wrapper
            +e('div').content
                +e('ul').list
                    each item in galleryData.list
                        +e('li').item
                            +e('a').link(href= item.source, title= item.title)
                                +e('picture')
                                    +e('img').img(src="/images/" + item.preview, srcset="/images/" + item.preview + " 2x", alt= item.title)
