include ../galleryItem/galleryItem
include ../galleryModal/galleryModal

mixin gallery(data)
    - var galleryData = data ? data : {};
    - var JSONData = [];

    - JSONData.push({id: 'qkog5', title: 'Terigon', description: 'Этот корабль стал первым авианосцем одноименной серии, он получил название в честь американского адмирала, который командовал флотом США на Тихом океане во время войны. «Нимитц» был введен в состав ВМС США в 1975 году. Изготовлением корабля занималась компания Newport News Shipbuilding (штат Виргиния). Порт приписки корабля – Китсап, штат Вашингтон.', preview: '/images/vis-ship-1-preview.jpg', source: '/images/vis-ship-1-source.jpg', isOpen: false});
    - JSONData.push({id: '6rblv', title: 'Divine Intervention', description: 'Стал вторым кораблем в серии атомных авианосцев «Нимитц». Он был введен в эксплуатацию в октябре 1977 года. Водоизмещение авианосца – 97 тыс. тонн, Корабль оснащен двумя реакторами и четырьмя турбинами. Его максимальная скорость хода – 31 узел. Численность корабельной команды – 3200 человек.', preview: '/images/vis-ship-2-preview.jpg', source: '/images/vis-ship-2-source.jpg', isOpen: false});
    - JSONData.push({id: 'b6l78', title: 'Suzanna', description: 'Водоизмещение авианосца составляет 97 тыс. тонн, два ядерных реактора и четыре турбины позволяют ему развивать ход до 30 узлов, численность экипажа 3200 человек, еще 2480 человек входит в состав авиакрыла.', preview: '/images/vis-ship-3-preview.jpg', source: '/images/vis-ship-3-source.jpg', isOpen: false});
    - JSONData.push({id: 'tvn5o', title: 'Alexandria', description: 'Последний авианосец серии «Нимитц». Он был заложен в 2003 году и принят в состав ВМС в 2009 году. По сравнению с другими кораблями этой серии, в конструкцию авианосца «Джордж Буш» были внесены значительные изменения. Стоимость проекта составила 6,2 млрд долларов.', preview: '/images/vis-ship-4-preview.jpg', source: '/images/vis-ship-4-source.jpg', isOpen: false});
    - JSONData.push({id: 'iaee3', title: 'Angel', description: 'Это головной корабль новой серии, заложенный в ноябре 2009 года. Авианосец был спущен на воду в ноябре 2013 года, в настоящее время строительство авианосца находится на завершающем этапе, в апреле 2017 года он должен быть принят в состав флота.', preview: '/images/vis-ship-5-preview.jpg', source: '/images/vis-ship-5-source.jpg', isOpen: false});
    - JSONData.push({id: '5ie5e', title: 'SSE Javelin', description: 'Проект эсминца 956 создавался исключительно для нужд советского ВМФ. Это был новейший корабль, и никто не собирался продавать его за рубеж. Однако после распада СССР ситуация изменилась: недостаточное финансирование вынудило искать заказчиков на стороне.', preview: '/images/vis-ship-6-preview.jpg', source: '/images/vis-ship-6-source.jpg', isOpen: false});
    - JSONData.push({id: '7r9rl', title: 'LWSS Liberator', description: 'Отечественные и зарубежные исследователи истории флота отмечают, что практически все боевые корабли, созданные в «Северном ПКБ», имеют характерный «эффектный» внешний вид.', preview: '/images/vis-ship-7-preview.jpg', source: '/images/vis-ship-7-source.jpg', isOpen: false});
    - JSONData.push({id: 'duywa', title: 'CS Raving', description: 'Площадь боковой парусности эсминца — 1700 м2. Палубы размещаются параллельно ватерлинии, что упростило установку оборудования во время постройки и сделало эсминцы проекта 956 более технологичными.', preview: '/images/vis-ship-8-preview.jpg', source: '/images/vis-ship-8-source.jpg', isOpen: false});
    - JSONData.push({id: 'pt5os', title: 'Avalanche', description: 'Надстройку корабля можно условно разделить на две больших блока: носовой и кормовой. Носовая часть заканчивается фок-мачтой, а кормовая состоит из блока с дымовой трубой и сдвижным ангаром, на котором расположена грот-мачта.', preview: '/images/vis-ship-9-preview.jpg', source: '/images/vis-ship-9-source.jpg', isOpen: false});
    - JSONData.push({id: '7vjc3', title: 'Slayer', description: 'Силовая установка эсминцев проекта 956 состоит из двух котлотурбинных агрегатов ГТЗА-674 (общая мощность 100 тыс. л. с.), расположенных в двух машинных отделениях – носовом и кормовом.', preview: '/images/vis-ship-10-preview.jpg', source: '/images/vis-ship-10-source.jpg', isOpen: false});
    - JSONData.push({id: 'c62yp', title: 'Priestess', description: 'В обычных условиях численность экипажа составляет 296 человек, включая 25 офицеров и 48 мичманов. В военное время корабельная команда увеличивается до 358 человек. На эсминцах «Сарыч» созданы комфортные условия для обитания команды: для офицеров оборудованы одно- и двухместные каюты, а для мичманов – двух- и четырехместные.', preview: '/images/vis-ship-11-preview.jpg', source: '/images/vis-ship-11-source.jpg', isOpen: false});
    - JSONData.push({id: '42pge', title: 'The Guardian', description: 'Все жилые и рабочие помещения эсминца оборудованы системой кондиционирования, она обеспечивает комфортные условия для работы экипажа в температурном диапазоне от −25°C до +34 °C. Следует отметить, что эсминцы проекта 956 выгодно отличаются от других кораблей советской и российской постройки в плане условий для обитания экипажа.', preview: '/images/vis-ship-12-preview.jpg', source: '/images/vis-ship-12-source.jpg', isOpen: false});

    - var serverData = JSON.stringify(JSONData);

    +b('section').gallery(data-gallery= serverData)
        +e('div').wrapper
            +e('div').content
                +e('div').mount

                +e('div').template(id="templateDefault")
                    +galleryItem

            +e('div').footer
                +galleryModal
