mixin gallery(data)
    - var galleryData = data ? data : {};

    - galleryData.list = galleryData.list ? galleryData.list : [];

    +b('section').gallery
        +e('div').wrapper
            +e('div').content
                +e('ul').list
                    each item in galleryData.list
                        - var itemData = {};

                        - itemData.title = item.title;
                        - itemData.description = item.description;
                        - itemData.source = "images/" + item.source;

                        - itemData = JSON.stringify(itemData);

                        +e('li').item
                            +e('a').link(href="images/" + item.source, title= item.title, data-info= itemData)
                                +e('picture').picture
                                    +e('img').img(src="images/" + item.preview, alt= item.title)

                                +e('div').title!= item.title
