extends ../jade/layout

block head
    - var pageDescription="Галерея изображений";
    - var pageKeywords="Галерея изображений";
    - var pageTitle="Галерея изображений";

block content
    //h1 контент
