$header: '.header';

#{$header} {
    flex: none;
    @include blockPaddingHorizontal;
    @include blockPaddingVertical;
    color: $color-yellow;
    text-align: center;

    &__box {
        position: relative;
        margin-top: -100px;
        transform-origin:50% 100%;
        transform:perspective(130px) rotateX(20deg);

        @include respond-to('medium') {
            margin-top: 0;
            transform: perspective(0) rotateX(0);
        }
    }

    &__title {
        h1 {
            margin-bottom: .6em;
            @include font-size($font-size-huge);

            @include respond-to('prebig') {
                @include font-size($font-size-afterlarge);
            }

            @include respond-to('medium') {
                @include font-size($font-size-presemilarge);
            }
        }
    }

    &__subtitle {
        max-width: 36rem;
        margin: 0 auto;
        @include font-size($font-size-prelarge);

        @include respond-to('prebig') {
            @include font-size($font-size-premedium);
        }

        p {
            @include f-last(1) {
                margin-bottom: 0;
            }
        }
    }
}
