mixin header
    +b('header').header
        +e('div').wrapper
            +e('div').content
                +e('div').title
                    +e('h1')!= "Космические корабли из звездных войн"

                +e('div').subtitle
                    +e('p')!= "«Звёздные войны» — культовая фантастическая франшиза в жанре космической оперы, задуманной и реализованной американским режиссёром Джорджем Лукасом в конце 1970-х годов и позднее расширенной."
