mixin galleryModal
    +b('section').galleryModal(data-id= "")
        +e('div').wrapper
            +e('div').content
                +e('div').preview
                    +e('div').box
                        +e('img')(src="")

                    +e('a').arrow(href="#", class="galleryModal__arrow_prev")
                        +e('img')(src="/images/ico-arrow-prev.svg")

                    +e('a').arrow(href="#", class="galleryModal__arrow_next")
                        +e('img')(src="/images/ico-arrow-next.svg")

                +e('div').info
                    +e('div').title!= ""

                    +e('div').description
                        +e('p')!= ""

                    +e('div').close(title="close")
                        +e('img')(src="/images/ico-close.svg")
