mixin galleryModal
    +b('section').galleryModal
        +e('div').wrapper
            +e('div').content
                +e('div').preview
                    +e('div').box
                        +e('img')(src="")

                +e('div').info
                    +e('div').title!= ""

                    +e('div').description
                        +e('p')!= ""

                    +e('div').close(title="close")
                        +e('img')(src="/images/ico-close.svg")
